.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.filters-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.filters-range {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.filters > div {
    display: flex;
}

select {
    background-color: #242424;
    color: white;
}
